
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<section class="engine"><a rel="external" href="#">excalibur</a></section><section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-n" style="background-image: url(assets/images/desert.jpg); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">SERIES</h3>
                <div class="lead"><p>Tv Show reviews.</p></div>

            </div>
        </div>
    </div>

</section>
<br>
<section class="mbr-section" id="msg-box5-o" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 0px;">
    {% for article in object_list %}

    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">



              <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                  <h3 class="mbr-section-title display-2">

                    {{ article.series_name }} - {{ article.series_rating }}

              </h3>
                  <div class="lead">

                    <p>{{article.series_desc}}</p>

                  </div>

                  <div><a class="btn btn-primary" href="/excalibur/series/{{article.series_name}}">MORE</a></div>
              </div>


              <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="{{article.logo_url}}"></div>
              </div>

            </div>
        </div>
    </div>
    {% empty %}
      <div class="container jumbotron">No Series to Review yet.</div>
    {% endfor %}
</section>





{% endblock %}
